In [15]:
import pandas as pd
import numpy as np

In [18]:
df_dirty = pd.read_csv('oczyszczonyDataSet.csv')
df_dirty.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117
0,16/08/08,Arsenal,West Brom,1,0,H,1,0,H,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16/08/08,Bolton,Stoke,3,1,H,3,0,H,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16/08/08,Everton,Blackburn,2,3,A,1,1,D,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16/08/08,Hull,Fulham,2,1,H,1,1,D,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16/08/08,Middlesbrough,Tottenham,2,1,H,0,0,D,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df = df_dirty[['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST','AST' ,'HF','AF' ,'HC' ,'AC' ,'HY' ,'AY' ,'HR' ,'AR']]
df.tail()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
6224,08/12/24,Fulham,Arsenal,1,1,D,1,0,C Kavanagh,2,...,2,4,10,9,0,6,4,2,0,NaN
6225,08/12/24,Ipswich,Bournemouth,1,2,A,1,0,M Salisbury,18,...,5,6,9,13,6,13,2,1,0,NaN
6226,08/12/24,Leicester,Brighton,2,2,D,0,1,S Attwell,10,...,3,7,9,10,5,5,1,2,0,NaN
6227,08/12/24,Tottenham,Chelsea,3,4,A,2,1,A Taylor,13,...,5,8,17,11,5,10,2,2,0,NaN
6228,09/12/24,West Ham,Wolves,2,1,H,0,0,J Brooks,19,...,4,5,12,17,11,0,5,4,0,NaN

In [21]:
avg_home_scored = float(df.FTHG.sum()) / 6229.0
avg_away_scored = df.FTAG.sum() / 6229.0
print(avg_home_scored)
print(avg_away_scored)

1.5593193128913148
1.2183336008990207

In [ ]:
table = pd.DataFrame(columns=('Team','HGS','AGS','HAS','AAS','HGC','AGC','HDS','ADS'))
# HAS = Home Attack Strength
# AAS = Away Attack Strength
# HGC = Home Goal Conceded
# AGC = Away Goal Conceded
res_home = df.groupby('HomeTeam')
res_away = df.groupby('AwayTeam')

table.Team = list(res_home.groups.keys()) 
table.HGS = res_home.FTHG.sum().values
table.HGC = res_home.FTAG.sum().values
table.AGS = res_away.FTAG.sum().values
table.AGC = res_away.FTHG.sum().values

table.HAS = (table.HGS / 342.0) / avg_home_scored
table.AAS = (table.AGS / 342.0) / avg_away_scored
table.HDS = (table.HGC / 342.0) / avg_home_scored
table.ADS = (table.AGC / 342.0) / avg_away_scored

print(table)

                Team  HGS  AGS       HAS       AAS  HGC  AGC       HDS  \
0            Arsenal  654  523  1.226356  1.255190  283  405  0.530671
1        Aston Villa  353  280  0.661932  0.671994  342  417  0.641305
2         Birmingham   38   37  0.071256  0.088799   35   70  0.065631
3          Blackburn   98   77  0.183766  0.184798   90  162  0.168765
4          Blackpool   30   25  0.056255  0.060000   37   41  0.069381
5             Bolton  104   77  0.195017  0.184798  115  138  0.215644
6        Bournemouth  193  162  0.361906  0.388797  210  278  0.393784
7          Brentford  112   81  0.210018  0.194398   87  108  0.163139
8           Brighton  183  159  0.343155  0.381597  182  213  0.341280
9            Burnley  180  161  0.337529  0.386397  238  295  0.446289
10           Cardiff   41   25  0.076882  0.060000   73   70  0.136887
11           Chelsea  631  515  1.183227  1.235990  283  364  0.530671
12    Crystal Palace  256  242  0.480042  0.580795  276  334  0.517545
13           Everton  480  341  0.900078  0.818393  352  450  0.660057
14            Fulham  280  178  0.525045  0.427196  278  309  0.521295
15      Huddersfield   26   24  0.048754  0.057600   56   78  0.105009
16              Hull  107   74  0.200642  0.177599  145  178  0.271899
17           Ipswich    6    8  0.011251  0.019200   12   15  0.022502
18             Leeds   73   79  0.136887  0.189598   96  115  0.180016
19         Leicester  280  258  0.525045  0.619195  216  294  0.405035
20         Liverpool  677  542  1.269485  1.300789  254  385  0.476291
21             Luton   28   24  0.052505  0.057600   37   48  0.069381
22          Man City  804  584  1.507630  1.401588  256  321  0.480042
23        Man United  625  474  1.171976  1.137591  282  365  0.528796
24     Middlesbrough   34   21  0.063756  0.050400   43   67  0.080632
25         Newcastle  409  296  0.766941  0.710394  350  465  0.656307
26           Norwich  127   82  0.238146  0.196798  178  234  0.333779
27     Nott'm Forest   62   44  0.116260  0.105599   60   93  0.112510
28        Portsmouth   50   22  0.093758  0.052800   61   62  0.114385
29               QPR   60   55  0.112510  0.131999   77  122  0.144387
30           Reading   23   20  0.043129  0.048000   33   40  0.061880
31  Sheffield United   55   39  0.103134  0.093599   99  107  0.185641
32       Southampton  296  231  0.555048  0.554395  296  352  0.555048
33             Stoke  248  150  0.465040  0.359997  213  312  0.399410
34        Sunderland  200  162  0.375032  0.388797  215  295  0.403160
35           Swansea  179  127  0.335654  0.304797  170  213  0.318778
36         Tottenham  580  501  1.087594  1.202390  298  436  0.558798
37           Watford  137  109  0.256897  0.261598  180  202  0.337529
38         West Brom  240  174  0.450039  0.417597  279  309  0.523170
39          West Ham  434  332  0.813820  0.796793  407  480  0.763191
40             Wigan  106   94  0.198767  0.225598  142  178  0.266273
41            Wolves  214  180  0.401285  0.431996  253  293  0.474416

         ADS
0   0.971992
1   1.000792
2   0.167999
3   0.388797
4   0.098399
5   0.331197
6   0.667195
7   0.259198
8   0.511196
9   0.707994
10  0.167999
11  0.873593
12  0.801593
13  1.079991
14  0.741594
15  0.187198
16  0.427196
17  0.036000
18  0.275998
19  0.705594
20  0.923992
21  0.115199
22  0.770394
23  0.875993
24  0.160799
25  1.115991
26  0.561595
27  0.223198
28  0.148799
29  0.292798
30  0.095999
31  0.256798
32  0.844793
33  0.748794
34  0.707994
35  0.511196
36  1.046391
37  0.484796
38  0.741594
39  1.151991
40  0.427196
41  0.703194

In [34]:
# feature_table = df.iloc[:, :23]

feature_table = df[['HomeTeam', 'AwayTeam', 'FTR', 'HST', 'AST', 'HC', 'AC']]
#Home Attacking Strength(HAS), Home Defensive Strength(HDS), Away Attacking Strength(AAS), Away Defensive Strength(ADS)
f_HAS = []
f_HDS = []
f_AAS = []
f_ADS = []
for index,row in feature_table.iterrows():
    f_HAS.append(table[table['Team'] == row['HomeTeam']]['HAS'].values[0])
    f_HDS.append(table[table['Team'] == row['HomeTeam']]['HDS'].values[0])
    f_AAS.append(table[table['Team'] == row['AwayTeam']]['AAS'].values[0])
    f_ADS.append(table[table['Team'] == row['AwayTeam']]['ADS'].values[0])

feature_table['HAS'] = f_HAS
feature_table['HDS'] = f_HDS
feature_table['AAS'] = f_AAS
feature_table['ADS'] = f_ADS
feature_table

/tmp/ipykernel_11469/1724603303.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feature_table['HAS'] = f_HAS
/tmp/ipykernel_11469/1724603303.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feature_table['HDS'] = f_HDS
/tmp/ipykernel_11469/1724603303.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feature_table['AAS'] = f_AAS
/tmp/ipykernel_11469/1724603303.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feature_table['ADS'] = f_ADS

,HomeTeam,AwayTeam,FTR,HST,AST,HC,AC,HAS,HDS,AAS,ADS
0,Arsenal,West Brom,H,14,4,7,5,1.226356,0.530671,0.417597,0.741594
1,Bolton,Stoke,H,8,2,4,3,0.195017,0.215644,0.359997,0.748794
2,Everton,Blackburn,A,5,11,3,5,0.900078,0.660057,0.184798,0.388797
3,Hull,Fulham,H,6,6,5,6,0.200642,0.271899,0.427196,0.741594
4,Middlesbrough,Tottenham,H,10,5,7,9,0.063756,0.080632,1.202390,1.046391
...,...,...,...,...,...,...,...,...,...,...,...
6224,Fulham,Arsenal,D,2,4,0,6,0.525045,0.521295,1.255190,0.971992
6225,Ipswich,Bournemouth,A,5,6,6,13,0.011251,0.022502,0.388797,0.667195
6226,Leicester,Brighton,D,3,7,5,5,0.525045,0.405035,0.381597,0.511196
6227,Tottenham,Chelsea,A,5,8,5,10,1.087594,0.558798,1.235990,0.873593
6228,West Ham,Wolves,H,4,5,11,0,0.813820,0.763191,0.431996,0.703194

In [36]:
feature_table.to_csv("Feature_table.csv")

In [37]:
def transformResult(row):
    if(row.FTR == 'H'):
        return 1
    elif(row.FTR == 'A'):
        return -1
    else:
        return 0

In [38]:
feature_table['Result'] = feature_table.apply(lambda row: transformResult(row), axis=1)
feature_table.tail()

/tmp/ipykernel_11469/2852773912.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feature_table['Result'] = feature_table.apply(lambda row: transformResult(row), axis=1)

,HomeTeam,AwayTeam,FTR,HST,AST,HC,AC,HAS,HDS,AAS,ADS,Result
6224,Fulham,Arsenal,D,2,4,0,6,0.525045,0.521295,1.255190,0.971992,0
6225,Ipswich,Bournemouth,A,5,6,6,13,0.011251,0.022502,0.388797,0.667195,-1
6226,Leicester,Brighton,D,3,7,5,5,0.525045,0.405035,0.381597,0.511196,0
6227,Tottenham,Chelsea,A,5,8,5,10,1.087594,0.558798,1.235990,0.873593,-1
6228,West Ham,Wolves,H,4,5,11,0,0.813820,0.763191,0.431996,0.703194,1

In [39]:
X_train = feature_table[['HAS','HDS','AAS','ADS']]
X_train_2 = feature_table[['HAS','HDS','AAS','ADS','HST','AST','HC','AC']]
y_train = feature_table['Result']
display(X_train.tail())
display(X_train_2.tail())

           HAS       HDS       AAS       ADS
6224  0.525045  0.521295  1.255190  0.971992
6225  0.011251  0.022502  0.388797  0.667195
6226  0.525045  0.405035  0.381597  0.511196
6227  1.087594  0.558798  1.235990  0.873593
6228  0.813820  0.763191  0.431996  0.703194

           HAS       HDS       AAS       ADS  HST  AST  HC  AC
6224  0.525045  0.521295  1.255190  0.971992    2    4   0   6
6225  0.011251  0.022502  0.388797  0.667195    5    6   6  13
6226  0.525045  0.405035  0.381597  0.511196    3    7   5   5
6227  1.087594  0.558798  1.235990  0.873593    5    8   5  10
6228  0.813820  0.763191  0.431996  0.703194    4    5  11   0

In [40]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
%matplotlib inline  
from sklearn.svm import SVC
from sklearn import linear_model

In [42]:
clf = [MultinomialNB(alpha=200), SVC(kernel = 'linear', C=1.5, probability=True), LogisticRegression()]

labels = [ 'Naive Bayes', 'SVM', 'Log regres']

mean_scores = []
mean_scores_2 = []
cms = []

for i in range(0,3):

    clf[i].fit(X_train,y_train)
    clf[i].fit(X_train_2,y_train)

    scores = cross_val_score(clf[i], X_train, y_train, cv=10)
    scores_2 = cross_val_score(clf[i], X_train_2, y_train, cv=10)
    print (labels[i]," : ", scores.mean(), " : ", scores_2.mean())
    
    mean_scores.append(scores.mean())  
    mean_scores_2.append(scores_2.mean())

Naive Bayes  :  0.46524518330038755  :  0.5631765701692361
SVM  :  0.5244816854448705  :  0.5901444106671897

/home/siwy/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/siwy/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/siwy/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/siwy/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/siwy/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/siwy/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/siwy/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/siwy/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/siwy/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/siwy/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Log regres  :  0.5339556032680783  :  0.5922321202768472

/home/siwy/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [51]:
home_team = 'Liverpool'
away_team = 'Fulham'

home_HAS = table[table['Team'] == home_team]['HAS'].values[0]
home_HDS = table[table['Team'] == home_team]['HDS'].values[0]
away_AAS = table[table['Team'] == away_team]['AAS'].values[0]
away_ADS = table[table['Team'] == away_team]['ADS'].values[0]

match_features = [[home_HAS, home_HDS, away_AAS, away_ADS]]
clf = [MultinomialNB(alpha=200), SVC(kernel='linear', C=1.5, probability=True), LogisticRegression()]
labels = ['Naive Bayes', 'SVM', 'Logistic Regression']

for i in range(3):
    clf[i].fit(X_train, y_train)

for i in range(3):
    if hasattr(clf[i], 'predict_proba'): 
        probabilities = clf[i].predict_proba(match_features)[0]  
        print(f"\nProbabilities by {labels[i]}:")
        print(f"  Home Win {home_team}: {probabilities[2]:.2%}")
        print(f"  Draw: {probabilities[1]:.2%}")
        print(f"  Away Win {away_team}: {probabilities[0]:.2%}")
        
        fair_odds = [1 / p for p in probabilities]

        margin = 1.05  
        adjusted_probs = [p / sum(probabilities) * margin for p in probabilities]
        adjusted_odds = [1 / p for p in adjusted_probs]

        print("\nFair Odds:")
        print(f"  Home Win {home_team}: {fair_odds[2]:.2f}")
        print(f"  Draw: {fair_odds[1]:.2f}")
        print(f"  Away Win {away_team}: {fair_odds[0]:.2f}")

        print("\nAdjusted Odds with 5% Margin:")
        print(f"  Home Win {home_team}: {adjusted_odds[2]:.2f}")
        print(f"  Draw: {adjusted_odds[1]:.2f}")
        print(f"  Away Win {away_team}: {adjusted_odds[0]:.2f}")
    else:
        print(f"{labels[i]} does not support probability prediction.")

Probabilities by Naive Bayes:
  Home Win Liverpool: 51.43%
  Draw: 23.48%
  Away Win Fulham: 25.09%

Fair Odds:
  Home Win Liverpool: 1.94
  Draw: 4.26
  Away Win Fulham: 3.99

Adjusted Odds with 5% Margin:
  Home Win Liverpool: 1.85
  Draw: 4.06
  Away Win Fulham: 3.80

Probabilities by SVM:
  Home Win Liverpool: 57.82%
  Draw: 29.36%
  Away Win Fulham: 12.82%

Fair Odds:
  Home Win Liverpool: 1.73
  Draw: 3.41
  Away Win Fulham: 7.80

Adjusted Odds with 5% Margin:
  Home Win Liverpool: 1.65
  Draw: 3.24
  Away Win Fulham: 7.43

Probabilities by Logistic Regression:
  Home Win Liverpool: 74.68%
  Draw: 17.43%
  Away Win Fulham: 7.90%

Fair Odds:
  Home Win Liverpool: 1.34
  Draw: 5.74
  Away Win Fulham: 12.66

Adjusted Odds with 5% Margin:
  Home Win Liverpool: 1.28
  Draw: 5.46
  Away Win Fulham: 12.06

/home/siwy/.local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(
/home/siwy/.local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(
/home/siwy/.local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(